# Core Frameworks
langchain
langchain-community
langchain-huggingface
langgraph
langsmith

# LLM & API
google-generativeai
python-dotenv

# Vector DB & Embeddings
chromadb
sentence-transformers
huggingface-hub

# Utilities
tqdm
pandas
pydantic